<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<int:channel id="input" />
	<int:channel id="output" />

	<bean id="transporterHandler"
		class="com.dell.rti4t.xd.transformer.ObjectListToDataTransporterImpl">
		<property name="fieldNamesDefinitionFile" value="${fieldnamesdefinitionfile}" />
		<property name="filterField" value="${filterfield:}" />
		<property name="defaultFilterValue" value="${defaultfiltervalue:}" />
	</bean>
	<bean id="mapFieldReducer" class="com.dell.rti4t.xd.transformer.MapFieldReducerImpl">
		<property name="anonymiseSet" value="${anonymise:}" />
		<property name="fieldsOutDefinitionFile" value="${fieldsoutdefinitionfile}" />
		<property name="fieldsToEpoch" value="${fieldstoepoch:}" />
		<property name="pepperManager" ref="pepperManager" />
	</bean>
	<bean id="pepperManager" class="com.dell.rti4t.xd.transformer.PepperManagerImpl">
		<property name="cronTrigger" value="${saltchangecron:}" />
		<property name="pepper" value="${encryptionsalt:}" />
	</bean>

	<bean id="protocolFilter" class="com.dell.rti4t.xd.filter.ProtocolFilterImpl">
		<property name="protocolSet" value="${protocols:}" />
	</bean>
	
	<bean id="imsiWhiteListFilter" class="com.dell.rti4t.xd.filter.InOrOutListBasedFilterImpl">
		<property name="inMode" value="true" />
		<property name="inOrOutFilePath" value="${imsiwhitelistfile:}" />
		<property name="refresh" value="${refresh:60000}" />
	</bean>
	<bean id="imsiBlackListFilter" class="com.dell.rti4t.xd.filter.InOrOutListBasedFilterImpl">
		<property name="inMode" value="false" />
		<property name="inOrOutFilePath" value="${imsiblacklistfile:}" />
		<property name="refresh" value="${refresh:60000}" />
	</bean>
	<bean id="lacCellFilter" class="com.dell.rti4t.xd.filter.LacCellFilterImpl">
		<property name="lacCellFilePath" value="${laccelllistfile:}" />
		<property name="lacField" value="${lacfield:}" />
		<property name="cellField" value="${cellfield:}" />
		<property name="refresh" value="${refresh:60}" />
		<property name="followExit" value="${followexit}" />
	</bean>
	<bean id="dataReductorFilter" class="com.dell.rti4t.xd.filter.DataReductionImpl">
		<property name="reductionMode" value="${reductionmode:NONE}"/>
		<!-- 
		<property name="deltaTime" value="${reductiondeltatime:60}" />
		-->
	</bean>
	
	<bean id="lacCellReductorFilter" class="com.dell.rti4t.xd.filter.LacCellReductionFilterImpl">
		<property name="lacCellFilter" ref="lacCellFilter"/>
		<property name="dataReductionFilter" ref="dataReductorFilter"/>
	</bean>
		
	<bean id="roamer23425Filter" class="com.dell.rti4t.xd.filter.InOrOutPatternBasedFilterImpl">
		<property name="inMode" value="false" />
		<property name="discriminationMode" value="STARTS_WITH" />
		<property name="pattern" value="23425" />
	</bean>
	<bean id="roamer23427Filter" class="com.dell.rti4t.xd.filter.InOrOutPatternBasedFilterImpl">
		<property name="inMode" value="false" />
		<property name="discriminationMode" value="STARTS_WITH" />
		<property name="pattern" value="23427" />
	</bean>
	<bean id="roamer23415Filter" class="com.dell.rti4t.xd.filter.InOrOutPatternBasedFilterImpl">
		<property name="inMode" value="false" />
		<property name="discriminationMode" value="STARTS_WITH" />
		<property name="pattern" value="23415" />
	</bean>
	<bean id="roamer00000Filter" class="com.dell.rti4t.xd.filter.InOrOutPatternBasedFilterImpl">
		<property name="inMode" value="false" />
		<property name="discriminationMode" value="STARTS_WITH" />
		<property name="pattern" value="00000" />
	</bean>
	<bean id="roamerWrongImsisFilter" class="com.dell.rti4t.xd.filter.InOrOutPatternBasedFilterImpl">
		<property name="inMode" value="true" />
		<property name="discriminationMode" value="HAS_MINIMUM_LENGTH" />
	</bean>
	<!--  bean id="fraudDetectionFilter" class="com.dell.rti4t.xd.filter.FraudDetectionImpl">
		<property name="fraudDetection" value="${frauddetection:false}" />
	</bean -->

	<bean id="countryCodeEnricher" class="com.dell.rti4t.xd.enrich.SubFieldEnricher"/>	
	
	<util:list id="roamerFilters" value-type="com.dell.rti4t.xd.filter.EventFilter">
		<ref bean="roamerWrongImsisFilter" />
		<ref bean="roamer23427Filter" />
		<ref bean="roamer23425Filter" />
		<ref bean="roamer23415Filter" />
		<ref bean="roamer00000Filter" />
		<ref bean="lacCellFilter" />
		<ref bean="dataReductorFilter" />
	</util:list>
	<util:list id="roamerEnrichers" value-type="com.dell.rti4t.xd.enrich.EventEnricher">
		<ref bean="countryCodeEnricher" />
	</util:list>
		
	<util:list id="filters" value-type="com.dell.rti4t.xd.filter.EventFilter">
		<ref bean="protocolFilter" />
		<ref bean="imsiWhiteListFilter" />
		<ref bean="imsiBlackListFilter" />
		<!-- ref bean="fraudDetectionFilter" / -->
		<ref bean="lacCellReductorFilter" />
	</util:list>

	<bean id="ieParser" class="com.dell.rti4t.xd.transformer.IEParserImpl" />
	<bean id="msisdnEnricher" class="com.dell.rti4t.xd.enrich.MSISDNEnricherImpl">
		<property name="dataSourceFilePath" value="${imsimsisdnfile:}" />
	</bean>
	<util:list id="enrichers" value-type="com.dell.rti4t.xd.enrich.EventEnricher">
		<ref bean="ieParser" />
		<ref bean="msisdnEnricher" />
	</util:list>
	
	<bean id="roamer" class="com.dell.rti4t.xd.process.eventhandler.AccumulatorEventHandlerFactory">
		<property name="eventFilters" ref="roamerFilters" />
		<property name="eventEnrichers" ref="roamerEnrichers" />
		<property name="batchSize" value="${batchsize:2048}" />
		<property name="mapFieldReducer" ref="mapFieldReducer" />
		<property name="dataTransporterHandler" ref="transporterHandler" />
		<property name="batchTimeout" value="${batchtimeout:5000}" />
		<property name="streamName" value="${xd.stream.name}" />
		<property name="configuredHandlerFactoryId" value="${handlerfactory}" />
		<property name="handlerFactoryId" value="roamer" />
	</bean>

	<bean id="accumulator" class="com.dell.rti4t.xd.process.eventhandler.AccumulatorEventHandlerFactory">
		<property name="eventFilters" ref="filters" />
		<property name="eventEnrichers" ref="enrichers" />
		<property name="batchSize" value="${batchsize:2048}" />
		<property name="mapFieldReducer" ref="mapFieldReducer" />
		<property name="dataTransporterHandler" ref="transporterHandler" />
		<property name="batchTimeout" value="${batchtimeout:5000}" />
		<property name="streamName" value="${xd.stream.name}" />
		<property name="configuredHandlerFactoryId" value="${handlerfactory}" />
		<property name="handlerFactoryId" value="accumulator" />
	</bean>

	<bean id="lorsConsumer" class="com.dell.rti4t.xd.process.LORSConsumer">
		<property name="eventHandlerFactory" ref="${handlerfactory}" />
	</bean>
	
	<bean id="jmxExporter" class="com.dell.rti4t.xd.jmx.VFROMetricsMBeanExporter" />
	
	<int:transformer input-channel="input" output-channel="output" ref="lorsConsumer" />

</beans>
