<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<int:channel id="output" />

	<bean id="consumerDelegate" class="com.dell.rti4t.xd.amqp.StringConsumerDelegateImpl">
		<property name="bufferSize" value="${buffersize:128}" />
		<property name="parallelConsumers" value="${parrallelconsumers:2}" />
		<property name="messageChannel" ref="output" />
		<property name="useString" value="${usestring:false}" />
	</bean>

	<bean id="amqp" class="com.dell.rti4t.xd.amqp.AmqpInboundChannel">
		<property name="rabbitPropertiesFile" value="${rabbitpropertiesfile:rabbit.properties}" />
		<property name="readerCount" value="${parrallelreadercount:1}" />
		<property name="prefetchCount" value="${prefetchcount:1000}" />
		<property name="consumerDelegate" ref="consumerDelegate" />
	</bean>
</beans>
